In [1]:
import pandas as pd

df = pd.read_csv("data/monthly_rainfall.csv")
df.head()

,Unnamed: 0,state,district,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,0,telangana,adilabad,0.0,0.0,15.2,3.5,22.9,244.5,118.9,272.1,84.9,75.9,8.0,0.5
1,1,andhra pradesh,anantpur,0.2,0.0,6.2,9.2,44.2,60.8,31.3,96.1,195.9,208.8,8.0,0.5
2,2,andaman and nicobar islands,andaman,10.2,163.2,364.8,431.2,343.0,199.6,320.9,741.4,199.0,72.2,0.0,0.0
3,3,arunachal pradesh,anjaw,10.2,163.2,364.8,431.2,343.0,199.6,320.9,741.4,199.0,72.2,0.0,0.0
4,4,bihar,araria,0.0,0.0,49.0,18.9,93.9,143.4,320.9,741.4,199.0,72.2,0.0,0.0

In [2]:
st = "andaman and nicobar islands"
dt = "andaman"
mon = "Jun"

In [10]:
def get_rain(df: pd.DataFrame, district: str, state: str, month: str):
    return df.query(f'state == "{state}" & district == "{district}"')[month]

In [3]:
df.loc[(df['state']==st) & (df['district']==dt)][mon].tolist()[0]

199.6

In [11]:
get_rain(df, dt, st, mon)

2    199.6
Name: Jun, dtype: float64

In [6]:
df.query(f'state == "{st}" & district == "{dt}"')[mon]

2    199.6
Name: Jun, dtype: float64

In [7]:
df.columns

Index(['Unnamed: 0', 'state', 'district', 'Jan', 'Feb', 'Mar', 'Apr', 'May',
       'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
      dtype='object')

In [8]:
import utils

utils.list_of_states(df)

['andaman and nicobar islands',
 'andhra pradesh',
 'arunachal pradesh',
 'assam',
 'bihar',
 'chandigarh',
 'chhattisgarh',
 'dadra and nagar haveli',
 'daman and diu',
 'delhi',
 'goa',
 'gujarat',
 'haryana',
 'himachal pradesh',
 'jammu and kashmir',
 'jharkhand',
 'karnataka',
 'kerala',
 'lakshadweep',
 'madhya pradesh',
 'maharashtra',
 'manipur',
 'meghalaya',
 'mizoram',
 'nagaland',
 'odisha',
 'puducherry',
 'punjab',
 'rajasthan',
 'sikkim',
 'tamil nadu',
 'telangana',
 'tripura',
 'uttar pradesh',
 'uttarakhand',
 'west bengal']

In [9]:
utils.list_of_dist(df, "telangana")

['adilabad',
 'hyderabad',
 'karimnagar',
 'khammam',
 'mahbubnagar',
 'medak',
 'nalgonda',
 'nizamabad',
 'rangareddy',
 'warangal']